<!DOCTYPE html>
<html>
<head>
    <title>Order Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-yQULpw0U39zvGZuUCa2abXHn3QbyQSDkBKUNj98QZDsoL+XQdbOj3C+3kRlB0fztHl2ih/77hV+USQXJxgECxQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <h1>Product Matrix</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Total Sales</th>
                    <th>Number of Customers</th>
                    <th>Revenue per Customer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Credit Cards</td>
                    <td>100,000</td>
                    <td>5,000</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Home Loans</td>
                    <td>50,000</td>
                    <td>2,500</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>Auto Loans</td>
                    <td>75,000</td>
                    <td>3,000</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>Savings Accounts</td>
                    <td>200,000</td>
                    <td>10,000</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Checking Accounts</td>
                    <td>150,000</td>
                    <td>7,500</td>
                    <td>$20</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-9wkN8+0vKz3UNOv/Q0HVR4r0BzO6D7exSfb5Wd6q/63I6u+3Y+56jDEgCqxrQjffr0HJiR+0GTH+KUtt+fSxXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
